@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.sections {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Seccion categorias */
#section-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

#section-category h2 {
  background: linear-gradient(90deg, #4d4544, #afafaf, #ebebeb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.cards-category {
  margin-top: 60px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 80%;
}

.cards-category li {
  background: linear-gradient(rgba(182, 243, 25, 0.4), transparent);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
}

.cards-category .card-gris {
  background: linear-gradient(rgba(163, 163, 163, 0.4), transparent);
}

.cards-category li a {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* Seccion categorias */

/* Seccion descripcion */
#sections-steps {
  display: flex;
  flex-direction: column;
}

#section-steps .text-steps {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#section-steps .text-steps h3 {
  width: 80%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #676565, #afafaf, #3c3a39);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#section-steps .text-steps h3 span {
  color: #5e17eb;
}
#section-steps .text-steps p {
  margin-top: 20px;
  width: 80%;
  color: #bdbcbc;
  text-align: center;
}

.cards-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-steps div {
  margin-top: 40px;
  background: linear-gradient(rgba(100, 100, 100, 0.4), transparent);
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #ffffff;
}

.cards-steps div h5 {
  font-family: "Montserrat", sans-serif;
}

.cards-steps .card-step-1 {
  background: linear-gradient(rgba(126, 126, 126, 0.4), transparent);
  border: 0.1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.cards-steps .card-step-1 h5 {
  color: #5e17eb;
  font-size: 20px;
}

.cards-steps h4 {
  font-weight: 300;
}

.cards-steps .card-step-2 {
  background: linear-gradient(rgba(94, 23, 235, 0.7), transparent);
  height: 250px;
  border: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.cards-steps .card-step-2 h5 {
  font-size: 20px;
}

.cards-steps .card-step-3 {
  background: linear-gradient(rgba(126, 126, 126, 0.4), transparent);
  border: 0.1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.cards-steps .card-step-3 h5 {
  color: #5e17eb;
  font-size: 20px;
}
/* Seccion descripcion */

@media (width >= 1024px) {
  #section-category h2 {
    font-size: 50px;
  }

  .cards-category {
    flex-direction: row;
    gap: 24px;
  }

  #section-steps .text-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #section-steps .text-steps h3 {
    width: 40%;
    font-size: 50px;
    text-align: start;
  }

  #section-steps .text-steps h3 span {
    color: #5e17eb;
  }
  #section-steps .text-steps p {
    width: 30%;
    color: #bdbcbc;
    text-align: start;
  }

  .cards-steps {
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }

  .cards-steps div {
    width: 20%;
    height: 200px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .cards-steps .card-step-1,
  .cards-steps .card-step-2,
  .cards-steps .card-step-3 {
    border: none;
  }

  .cards-steps .card-step-1 {
    border-left: 0.1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px 0px 0px 15px;
  }

  .cards-steps .card-step-2 {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.25);
  }

  .cards-steps .card-step-3 {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
    border-right: 0.1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0px 15px 15px 0px;
  }
}

/* 
SECTION NAV
*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  font-size: 20px;
  color: #b6f319;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.boton-nav {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background-color: #b6f319;
  border-radius: 10px;
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(189, 188, 188);
}

.abrir-menu,
.cerrar-menu {
  display: none;
  width: 30px;
}

@media screen and (max-width: 810px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    padding: 2rem 2rem 2rem 6rem;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
}

/*  

FINAL NAV

*/

/* HERO SECTION */
h1 {
  background: linear-gradient(90deg, #ebebeb, #4d4544, #8d8787);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
}
h1 span {
  color: #b6f319;
}

aside {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

aside img {
  width: 70%;
  animation: jump 6s ease-in-out infinite;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
}
.hero-section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}
.hero-section div h3,
div p {
  color: white;
  font-weight: 400;
  font-size: 12px;
}
/*  final section hero */
/* Secci贸n de contacto */

footer {
  color: white;
  padding: 20px 20px;
}

.contact {
  padding: 20px 30px;
  height: 100%;
  background-color: rgba(94, 23, 235, 0.7);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact ul {
  list-style: none;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.contact-left div {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.contact-left div ul {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
}

.contact-left h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #b6f319;
}

.encabezado-color {
  color: #d3d3d3;
}

.contact-left ul li a {
  text-decoration: none;
  color: white;
}

.contact-rigth ul li img {
  width: 60px;
}

.contact-rigth ul {
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
}

.contact-title {
  display: none;
}

.contact-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #b6f319;
}

@media (width > 810px) {
  .contact-left {
    width: 60%;
  }
  .contact-left div {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-title {
    display: flex;
    justify-content: start;
    height: 130px;
  }
  .contact-left h2 {
    display: none;
  }
  .boton-nav {
    display: block;
  }
  .link-mobile {
    display: none;
  }
  header {
    justify-content: space-around;
  }

  .hero-section {
    padding: 0px 0px;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }
  .hero-section div {
    width: 50%;
  }

  aside {
    margin-top: 0px;
    width: 50%;
  }
}

@media (width > 1200px) {
  footer {
    padding: 20px 110px;
  }
  .contact {
    padding: 40px;
    align-items: start;
  }
  .contact-left div ul {
    gap: 16px 0px;
  }

  .hero-section div {
    width: 40%;
  }

  h1 {
    font-size: 40px;
  }

  aside {
    margin-top: 0px;
    width: 40%;
  }
  .hero-section div h3,
  div p {
    font-size: 14px;
    color: #bdbcbc;
  }
}

/* Final secci贸n de contacto */

/* Secci贸n de formulario */

.formulario {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.form-container {
  width: 90%;
  max-width: 600px;
  background: linear-gradient(rgba(45, 45, 45, 0.4), rgba(0, 0, 0, 0.7))
      padding-box,
    linear-gradient(145deg, transparent 33%, #5e17eb, #b6f319) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #bdbcbc;
  font-weight: 400;
  font-size: 16px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #bdbcbc;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #bdbcbc;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #b6f319;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #b6f319;
}
.form-container .form-group textarea::placeholder {
  opacity: 0.5;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  color: #ffffff;
  font-weight: 400;
  width: 40%;
  background: #5e17eb;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #b6f319;
  color: #000000;
}

/* Final secci贸n de formulario */

/* Inicio Shop */

.buttonAgregar {
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}

.margenesCategorias {
  margin: 20px;
}

.categoriasProducto h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.sectionProductos {
  display: grid;
  place-content: center;
  grid-template-columns:270px;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 40px;
  margin-bottom: 50px;
}


.cardProductos {
  width: 270px;
  background: linear-gradient(rgba(163, 163, 163, 0.4), transparent);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.cardProductos img {
  width: 250px;
}

.cardProductos .botonesProducto {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.cardProductos div p {
  color: #bdbcbc;
  text-align: center;
  margin-bottom: 20px;
}

.cardProductos .botonesProducto a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #bdbcbc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #000000;
}

.cardProductos .botonesProducto a img {
  width: 24px;
}

.cardProductos .botonesProducto .buttonComprar {
  background-color: #5e17eb;
  padding: 10px 18px;
}

.cardProductos .botonesProducto .buttonComprar:hover {
  background-color: #b6f319;
  color: #000000;
  padding: 10px 18px;
}

.buttonAgregar {
  padding: 10px;
  color: white;
  cursor: pointer;
}

header div {
  display: flex;
  align-items: center;
  gap: 30px;
}

header div #carrito {
  width: 30px;
}

#carrito {
  color: white;
}

.containerCarrito {
  position: relative;

}


.cantidad {
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #5e17eb;}

@media screen and (width > 810px) {
  .sectionProductos {
    grid-template-columns:270px 270px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 30px;
  }

  @media screen and (width > 1024px) {
    .sectionProductos {
      grid-template-columns: repeat(3, 270px) 
        }
  }
}
/* Final Shop */
